@font-face {
  font-family: Monaco;
  src: url(./monaco.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0px;
  font-family: Monaco;
  overflow-x: hidden;
}

.nav {
  height: 40px;
  background-color: rgb(41, 41, 92);
  width: 100%;
  box-shadow: 5px 3px 10px;
  position: relative;
  z-index: 2;
  position: sticky;
  top: 0;
}

.navbtn {
  color: white;
  text-decoration: none;
  margin: 10px;
  float: right;
  transition: 0.3s ease;
  font-size: 30px;
  text-shadow: 0px 0px black;
}

.navbtn:hover {
  text-shadow: 2px 2px black;
}

.line {
  width: 62px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 32px;
  float: right;
  right: 103px;
  border-radius: 50%;
  transition: 0.3s ease;
}

.navbtn:nth-child(2):hover ~ .line {
  right: calc(7px);
  width: 82px;
}

.navbtn:nth-child(3):hover ~ .line {
  right: calc(103px);
  width: 62px;
}

.navbtn:nth-child(4):hover ~ .line {
  right: 175px;
  width: 105px;
}

.navbtn:nth-child(5):hover ~ .line {
  right: 290px;
  width: 55px;
}

.headerimg {
width: 100vw;
margin-top: 0%;
box-shadow: 0px 0px 100px rgb(78, 78, 78);
}

.homeimg {
  width: 100px;
  border-radius: 0px 0px 50%;
  box-shadow: 0px 0px 10px black;
  transition: 0.3s ease;
}

.homeimg:hover {
  transition: 0.3s ease;
  filter: saturate(1.1) contrast(1.1);
  cursor: pointer;
  width: 110px;
}

.name {
  left: 0;
  right: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 100%;
  margin-top: 40vh;
  color: white;
  font-size: 1000%;
  filter: opacity(0.7); 
  animation: nameIn 1.5s ease-in-out;
  text-shadow: 5px 5px 3px black;
}
@keyframes nameIn {
  from {
    transform: translatey(-100%);
    opacity: 0;
  }

  to {
    transform: translatey(0);
    opacity: 1;
  }
}

.overmij {
    height: 5000px;
    background-color: black;
}

.titel1 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 700px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text1 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 300px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}



.text2 {
      color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 400px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}


.titel2 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 650px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text3 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 500px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.titel3 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 750px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text4 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 600px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.titel4 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 850px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text5 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 700px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.titel5 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 950px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text6 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 800px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.titel6 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 1050px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text7 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 900px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.titel7 {
    color: white;
    font-size: 50px;
    font-family:fantasy;
    display: block;
    position: relative;
    top: 1050px;
    left: -500px;
    display: none;
    text-shadow: 10px 80px rgb(10, 10, 10);
}

.text8 {
     color: white;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 500px;
     padding: 30px;
     position: relative;
     top: 900px;
     display: none;
     text-shadow: 10px 80px rgb(10, 10, 10);
}

.cvimg {
    width: 500px;
    border-radius: 20px;
      transition: .5s ease;
}

.cvimg:hover {
    scale: 1.05;
    transition: .5s ease;
    cursor: pointer;
}


.text1in {
    animation: text1in 1.5s ease-in-out;
    display: block;
}


@keyframes text1in {
    from {
 transform: translatey(-100%);
 opacity: 0;
    }
    to {
transform: translateY(0%);
    }
}

.footer {
  height: 250px;
  background-color: black;
   border-top: 1px solid white;
   box-shadow: 0px -65px 100px rgba(41, 41, 92, 0.80);
   display: flex;
}

.one {
  font-family: Arial, Helvetica, sans-serif;
  width: 120px;
  margin-left: 100px;
  margin-top: 50px;
}

.footerbtn {
text-decoration: none;
color: white;
font-size: 20px;
transition: .5s ease;
position: relative;
margin: 10px;
}

.footerbtn:hover {
  text-decoration: underline;
}





.socialmedialinks {
flex: 10%;
text-decoration: none;
color: white;
font-size: 20px;
transition: .5s ease;
padding-left:0px ;
width: 80vw;
}

.socialmediaicons {
  width: 35px;
  filter: grayscale(1) ;
  transition: .5s ease-in-out;
  padding: 50px;
}

.two {
  height: 0px;
  top: 20%;
  position: relative;
  float: left;
   display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.socialmediaicons:hover {
  rotate: 720deg;
  scale: 1.5;
  filter: grayscale(0);
  transition: .5s ease-in-out;
}

.devider {
  position: relative;
  height: 200px;
  width: 1px;
  background-color: white;
  left: 130px;
  top: -180px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-track {
  border-radius: 100px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(41, 41, 92, 0.8); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(33, 33, 75, 0.8); 
}

.topnav {
  display: none;
}


/* responsiveness code */

@media screen and (min-width: 1900px) {
    
#hidden {
  margin-top: 200px;
  height: 90vh;
}

#sitebtnn {
  bottom: 700px;
}

  }

   @media screen and (max-width: 500px) {

.nav {
  max-width: 120vw;
}

.line {
  display: none;
}

.name {
  font-size: 80px;
  margin-top: 100px;
}

.navbtn {
  display: none;
}

.nav {
  display: none;
}



.mobile-container {
  height: 40px;
  background-color: rgb(41, 41, 92);
  width: 100%;
  box-shadow: 5px 3px 10px;
  position: relative;
  z-index: 2;
  position: sticky;
  top: 0;
}


.topnav {
  height: 30px;
  background-color: rgb(41, 41, 92);
  width: 100%;
  box-shadow: 5px 3px 10px;
  position: relative;
  z-index: 2;
  position: sticky;
  top: 0;
  display: block;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  color: white;
  float: right;
}

.mylinks {
  float: right;
  text-align: right;
  background-color: black;
}

a.link {
  text-align: right;
  padding: 10px;
  position: relative;
  top: -70px;
  right: -270px;
  font-size: 20px;
  width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
}

.menu {
  width: 40px;
  background-color: rgb(41, 41, 92);
}



.footer {
  width: 100vw;
  height: 380px;
  background-color: black;
}

.one {
  margin-left: 0px;
}

.two {
  top: 0vh;
  padding: 0px;
  margin: 0px;
  width: 300px;
}

.socialmediaicons {
  padding: 30px;
}

.overmij {
  height: 5200px;
}

.titel1 {
left: 0px;
display: block;
animation: none;
top: 250px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text1 {
width: 300px;
display: block;
animation: none;
top: 0px;
text-shadow: none;
}

.titel2 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text2 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}

.titel3 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text3 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}

.titel4 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text4 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}

.titel5 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text5 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}

.titel6 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text6 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}

.titel7 {
left: 0px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
font-family:'Courier New', Courier, monospace;
}

.text7 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;
}



.text8 {
width: 300px;
display: block;
animation: none;
top: 100px;
text-shadow: none;

}

.cvimg {
  width: 300px;
}

   }